.layout {
    min-height:  100vh;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.light-mode {
    background-color: var(--invoice-light-bg)
}

.dark-mode {
    background-color: var(--invoice-dark-bg)
}

@media (max-width: 768px){
    .layout {
        flex-direction: column;
    }
}