.edit-invoice-page-comp {
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  border: 0px;
  border-radius: 8px;
  /* padding-left: 15px;
    padding-right: 15px; */
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 10px -10px hsl(231, 38%, 45%, 10.04%);
  cursor: pointer;
  padding: 10px;
}

.invoice-detail {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.edit-invoice-comp-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.edit-invoice-light {
  background-color: #ffffff;
}

.edit-invoice-dark {
  background-color: var(--invoice-sidebar-bg-dark);
}

.invoice-return-light {
  color: var(--invoice-black);
}

.invoice-return-dark {
  color: #ffffff;
}

.edit-invoice-comp-light {
  color: #858bb2;
}
.invoice-return:hover {
  color: var(--invoice-dark-default);
}

.navigator {
  cursor: pointer;
  margin-bottom: 32px;
}

.navigator:hover {
  color: var(--invoice-dark-default);
}

.previous {
  margin-right: 20px;
}

.fixed-btn-options {
  display: none;
}

@media (max-width: 530px) {
  .edit-invoice-page-comp {
    transform: scale(0.99, 0.99);
  }

  .edit-invoice-comp-1 {
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .edit-btn-flex {
    display: none;
  }

  .fixed-btn-options {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    left: 50%; /* center the div horizontally */
    transform: translateX(-50%);
    padding: 20px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
