.no-scroll {
    overflow-y: hidden;
}

.scrollable-form {
    padding-bottom: 200px;
}

.mini-sidebar {
    max-width: 719px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.sidebar-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -719px;
    width: 719px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    z-index: 10;
    height: 100%;
    border: 0px;
    transition: transform 0.3s ease-in-out;
    padding: 5px;
    min-height: 100vh;
    overflow-y: scroll;
    margin-bottom: 100px;
}

/* make scrollbar track transparent */
.sidebar-modal::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 120px;
  }
  
  /* style scrollbar */
.sidebar-modal::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* style scrollbar handle */
.sidebar-modal-light::-webkit-scrollbar-thumb {
    background-color: var(--invoice-light);
    border-radius: 5px;
  }

.sidebar-modal-dark::-webkit-scrollbar-thumb {
background-color: var(--invoice-gray-light);
border-radius: 5px;
}

.sidebar-container {
    margin-left: 120px;
    margin-top: 10px;
    margin-right: 20px;
    height: 100vh;
    padding: 20px;
}

.sidebar-footer {
    width: 100%;
    max-width: 719px;
    height: 110px;
    position: fixed;
    bottom: 0;
    z-index: 14;
    border-radius: 0px 20px 20px 0px;
}

.footer-container {
    margin-left: 110px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.btn-footer-left{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.sidebar-footer-light {
    background-color: white;

}

.sidebar-footer-dark {
    background-color: var(--invoice-dark-bg);
    -webkit-box-shadow: -2px -86px 187px -28px rgba(0,0,0,0.32);
-moz-box-shadow: -2px -86px 187px -28px rgba(0,0,0,0.32);
box-shadow: -2px -86px 187px -28px rgba(0,0,0,0.32);
}

.sidebar-text-light {
    color: var(--invoice-dark-bg)
}

.sidebar-text-dark {
    color: #FFFFFF
}

.modal-navigator {
    top: 80px;
    left: 800px;
    display: none;
}

.sidebar-modal.open {
     transform: translateX(719px);
  }
  

.sidebar-hidden {
    display: none
}


.sidebar-modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5px);
    z-index: 9;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
}


.sidebar-modal-light {
   background-color: #FFFFFF;
}

.sidebar-modal-dark {
   background-color: var(--invoice-dark-bg)
}

@media(max-width: 770px){
    .sidebar-container {
        margin-left: 50px;
    }

    .sidebar-modal {
        top: 80px;
        max-width: 80vw;
        width: 100%;
        left: -85vw;    
    }

    .mini-sidebar {
        max-width: 80vw;
        width: 100%;
    }

    .scrollable-form {
        padding-bottom: 250px;
    }

    .sidebar-footer {
        bottom: 0;
        left: -20px;
        max-width: 80vw;
        width: 100%;
    }

    .footer-container {
        max-width: 72vw;
        width: 100%;
        margin-left: 30px;
    }

    .sidebar-modal.open {
        transform: translateX(100%)
    }
}

@media(max-width: 374px) {
    .modal-navigator {
        display: block;
    }

    .sidebar-container {
        margin-left: 10px;
    }

    .sidebar-footer {
        max-width: 100vw;
        width: 100%;
        border: 0;
        left: 0;
    }

    
    .footer-container {
        max-width: 90vw;
        width: 100%;
        margin-left: 20px;
    }

    .sidebar-modal {
        top: 72px;
        width: 100%;
        max-width: 100vw;
        height: 100vh;
        border-radius: 0px;
        left: -380px;
    }

    .mini-sidebar {
        max-width: 100vw;
        width: 100%;
    }

    .sidebar-modal.open {
        transform: translateX(374px)
    }
}