.item-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-botton: 20px;
}

.item-table {
  width: 100%;
  padding-bottom: 20px;
}

.lbl {
  color: var(--invoice-dark-default);
}

.item-table-row {
  width: 100%;
}

.item-delete {
  cursor: pointer;
}

.itm-name {
  max-width: 214px;
  padding: 8px;
  width: 100%;
}
.t-total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 78px;
}

.t-del {
  margin-top: 25px;
}
.itm-qty {
  max-width: 46px;
  padding: 8px;
  width: 100%;
  margin-left: 45px;
}

.itm-price {
  max-width: 100px;
  padding: 8px;
  width: 100%;
  margin-left: 30px;
}

.itm-total {
  padding: 8px;
}

.item-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-pd {
  padding: 8px;
}

.item-label {
  color: var(--invoice-dark-default);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-light {
  color: #888eb0;
}

.text-dark {
  color: #ffffff;
}

.item-name-input {
  max-width: 214px;
  width: 100%;
  text-align: center;
  height: 48px;
}

.item-name-input-sm {
  width: 100%;
  height: 48px;
}

.item-height {
  height: 48px;
}

.item-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-qty {
  max-width: 46px;
  width: 100%;
  height: 48px;
  text-align: center;
}

.item-price {
  max-width: 100px;
  width: 100%;
  height: 48px;
  text-align: center;
}

.item-light {
  border: 1px solid var(--invoice-light);
}

.item-light:focus {
  outline: 1px solid var(--invoice-purple-light);
}

.item-dark {
  border: 1px solid var(--invoice-gray-light);
  background-color: var(--invoice-gray);
  color: #ffffff;
}

.item-error {
  color: var(--invoice-red);
}

.item-show {
  display: none;
}

.item-hidden {
  display: flex;
}

@media (max-width: 400px) {
  .item-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .item-sm {
    width: 100%;
  }

  .item-hidden {
    display: none;
  }
}
