.form-header {
    color: var(--invoice-purple);
    margin-bottom: 20px;
}

.label {
    color: var(--invoice-dark-default);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap
}

.label-error {
    color: var(--invoice-red)
}

.unlabel-error {
    display: none;
}


.text-field {
     width: 100%;
     height: 48px;
     border-radius: 4px;
     padding-left: 10px;
     font-weight: bold;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: -0.25px;
}

.text-field-error-light {
    border: 1px solid var(--invoice-red);
}

  
.text-field:invalid + label::after {
    content: "can't be empty";
    color: var(--invoice-red);
  }
  


.text-field-fixed {
    width: 152px;

}

.text-field-light {
    border: 1px solid var(--invoice-light)
}

.text-field-light::placeholder {
    @extend .invoice-h3-small;
    color: var(--invoice-black)
}

.text-field:focus {
    border: 0px;
    caret-color: var(--invoice-purple);
    outline: 1px solid var(--invoice-purple-light)
}

.text-field-dark {
     color: #888EB0;
     border: 1px solid var(--invoice-gray-light);
     background-color: var(--invoice-gray)
}

.text-field-error-dark {
    color: #888EB0;
    border: 1px solid var(--invoice-red);
    background-color: var(--invoice-gray)
}
.text-field-dark:focus {
    color: #ffffff
}
