.datepicker {
  display: none;
}

.payment-date {
  display: flex;
  max-width: 760px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex {
  flex: 1 1 50%;
  width: 100%;
  margin-bottom: 20px;
}

.input-date-picker {
  width: 240px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.input-date-picker:hover {
  border: 1px solid var(--invoice-purple);
}

.date-title-dark {
  color: #ffffff;
}

.input-light {
  border: 1px solid var(--invoice-light);
}

.input-light:focus {
  outline: 1px solid var(--invoice-purple-light);
}

.select {
  width: 240px;
  height: 48px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../assets/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.select-drop {
  height: 48px;
  border-radius: 4px;
  max-width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  cursor: pointer;
}

.select-drop:focus,
.select-drop:hover {
  border: 1px solid var(--invoice-purple);
}

.select-label {
  margin-top: 8px;
}
.select-light {
  background-origin: content-box;
  border: 1px solid var(--invoice-light);
}

.select-light:focus {
  outline: 1px solid var(--invoice-purple);
}

.select-dark {
  border: 1px solid var(--invoice-gray-light);
  background-color: var(--invoice-gray);
  color: #ffffff;
  background-origin: content-box;
}

.select-dark:focus {
  outline: none;
}

.select-ul {
  width: 240px;
  height: 191px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px;
  border-radius: 8px;
  z-index: 60px;
}

.select-open {
  position: absolute;
  display: block;
}

.select-close {
  display: none;
}

.form-header {
  color: var(--invoice-purple);
  margin-bottom: 20px;
  margin-top: 20px;
}

.label {
  color: var(--invoice-dark-default);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label-error {
  color: var(--invoice-red);
}

.unlabel-error {
  display: none;
}

.text-field {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

.text-field-wrap {
  max-width: 152px;
  width: 100%;
}

.text-field-wrap-responsive {
  max-width: 152px;
  width: 100%;
}

.text-field-responsive {
  width: 100%;
}

.text-field-error-light {
  border: 1px solid var(--invoice-red);
}

.text-field-container {
  margin-bottom: 20px;
}

.text-field:invalid + label::after {
  content: "can't be empty";
  color: var(--invoice-red);
}

.text-field-light {
  border: 1px solid var(--invoice-light);
}

.text-field-light::placeholder {
  @extend .invoice-h3-small;
  color: var(--invoice-black);
}

.text-field:focus {
  border: 0px;
  caret-color: var(--invoice-purple);
  outline: 1px solid var(--invoice-purple-light);
}

.text-field-dark {
  color: #888eb0;
  border: 1px solid var(--invoice-gray-light);
  background-color: var(--invoice-gray);
}

.text-field-error-dark {
  color: #888eb0;
  border: 1px solid var(--invoice-red);
  background-color: var(--invoice-gray);
}
.text-field-dark:focus {
  color: #ffffff;
}

.form-constraint-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.inner-constraint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 765px) {
  .input-date-picker {
    flex: 1;
    max-width: 220px;
    width: 100%;
  }

  .select {
    flex: 1;
    max-width: 220px;
    width: 100%;
  }
}

@media (max-width: 470px) {
  .dropdown-select {
    width: 100%;
  }
  .select-drop {
    max-width: 100%;
  }

  .dropdown-menu-due {
    max-width: 100%;
  }

  .form-constraint-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .payment-date {
    flex-direction: column;
  }

  .input-date-picker {
    flex: 1;
    max-width: 470px;
    width: 100%;
  }

  .select {
    flex: 1;
    max-width: 470px;
    width: 100%;
  }

  .inner-constraint {
    gap: 25px;
  }

  .text-field-wrap {
    width: 100%;
  }

  .text-field-wrap-responsive {
    max-width: 470px;
    width: 100%;
  }

  .inner-end-constraint {
    width: 100%;
  }
}

//dropdown
.dropdown-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu-due {
  position: absolute;
  width: 100%;
  z-index: 20;
  border-radius: 4px;
  padding: 8px;
  max-width: 150px;
}

.dropdown-menu-light {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-menu-dark {
  background-color: var(--invoice-gray-light);
}

.drop-light {
  color: var(--invoice-black);
}

.drop-dark {
  color: #ffffff;
}

.dropdown-option:hover {
  color: var(--invoice-purple);
}

.dropdown-option {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-bottom: 0.5px solid var(--invoice-light);
}
